<h1><%= poll.question %></h1>
<ul>
  <% poll.options.forEach(option => { %>
    <li>
      <%= option.label %>: <%=option.votes %> vote<% if(option.votes !== 1) { %>s<% } %>
    </li>
  <% }) %>
</ul>

<form action="<%= '/api/vote/' + poll['_id'] %>" method="post">
  <select name="option">
    <% poll.options.forEach(option => { %>
      <option value="<%= option['_id'] %>">
        <%= option.label %>
      </option>
    <% }) %>
  </select>
  <button type="submit">Vote now!</button>
</form>

<% if(user && user._id.equals(poll.author)) { %>
  <form action="<%= '/api/delete/' + poll['_id'] %>" method="post">
    <button class="danger" type="submit" name="delete">Delete this poll</button>
  </form>
<% } %>
